body{
  color:black;
  background-color: #FFF;
  font-family: Helvetica;
}

#header-nav{
  background-color: #CCC;
  border-radius: 0;
  border:0;
}

.navbar-brand{
  padding-top:25px;
  height:auto;
  width: auto;
}

.navbar-brand h1 {
  color:black;
  font-size: 1.5em;
  text-shadow:2px 2px 2px #222;
  margin-top:0;
  line-height:.75;
}

#nav-list a{
  text-align:black;
}

#nav-list a:hover{
  background-color: #EEE;
}

h3{
  margin-top:0;
}

section{
  background-color: #888;
  padding:5px 20px 5px 20px;
  margin: 5px 5px 5px 5px;
}